{% extends 'base.html' %}

{% block content %}
    <style>

        .video-length {
            display: flex;
            justify-content: end;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
        }

    </style>

    <div class="container">
        <h1 class="my-5 pb-3 border-bottom">{{ course_detail.title }}</h1>
        <div class="row justify-content-center">
            <div class="col-12 p-3">
                <h5 class="pt-2 font-weight-bold">Course Description</h5>
                <p>{{ course_detail.description }}</p>
                <div class="row border-bottom justify-content-center">
                    <div class="col-6">
                        <b>Number of Lessons:</b>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        {{ number_of_lectures }}
                    </div>
                </div>
                <div class="row border-bottom justify-content-center my-4">
                    <div class="col-6">
                        <b>Course Duration:</b>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <p class="m-0 text-right">{{ total_duration }}</p>
                    </div>
                </div>
                {% if video.activity_pdf %}
                    <div class="row border-bottom justify-content-center">
                        <div class="col-sm-6 col-12">
                            <b>Lesson Resource:</b>
                        </div>
                        <div class="col-sm-6 col-12 d-flex py-2 py-sm-0 justify-content-sm-start justify-content-md-end">
                            <a href="{{ video.activity_pdf.url }}">
                                {{ video.activity_pdf }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-12  py-3">
            <div class="list-group">
                {% for video in videos %}
                    <a class="list-group-item list-group-item-action py-0 hover-color" href="{% url 'course_video' slug forloop.counter %}">
                        <div class="row py-2">
                            <div class="col-6">
                                <p class="video-title">{{ video.title }}</p>
                            </div>
                            <div class="col-6">
                                <p class="video-length">{{ video.length_formatter}}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}