{% extends "base.html" %}

{% block content %}

	<div class="row justify-content-center pt-5">
		<div class="col-3">
			<div class="row justify-content-center my-2">
				<p class="h1">Login</p>
            </div>
            <div class="row justify-content-center my-2">
                <p class="alert-danger">{{ error }}</p>
            </div>

				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <div class="row justify-content-center my-2 align-items-baseline">
                        <label class="mx-2"  for="username">Username:</label>
                        <input type="text" name="username" autocomplete="current-username" required id="username">
                    </div>

                    <div class="row justify-content-center my-2 align-items-baseline">
                        <label class="mx-2" for="password">Password:</label>
                        <input type="password" name="password" autocomplete="current-password" required id="password">
                    </div>
                    <div class="row justify-content-center my-2">
                        <button class="btn btn-primary" type="submit">
                            Login
                        </button>
                    </div>
				</form>
                <div class="row justify-content-center my-2">
                    {% if request.GET.next %}
                        <small>Don't have an account?<a href="{% url 'signupuser' %}?next={{ request.GET.next }}">Sign up here</a></small>
                    {% else %}
                        <small>Don't have an account?<a href="{% url 'signupuser' %}"> Sign up here</a></small>
                    {% endif %}
                    <small>Forgot password?<a href="{% url 'reset_password' %}"> Reset Password</a></small>
                </div>

			</div>
		</div>





{% endblock %}