{% extends "base.html" %}

{% block content %}

	<div class="row justify-content-center pt-5">
		<div class="col-2">
			<div>
				<p class="h1">Login</p>
				<p class="alert-danger">{{ error }}</p>
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
                    <label for="username">Username:</label>
                    <input type="text" name="username" autocomplete="current-username" required id="username">

                    <label for="password">Password:</label>
                    <input type="password" name="password" autocomplete="current-password" required id="password">

					<button type="submit">
						Login
					</button>
				</form>
			</div>
		</div>
	</div>




{% endblock %}