{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        video {
            width: 100%;
        }

    </style>
    <div class="container pt-5 video-bg">

        <div class="row justify-content-center">
            <video width="800" height="450" controls autoplay muted loop>
                <source src="{% static 'courses_site/You Can Teach Your Child to Read.mp4' %}" type="video/mp4">
            </video>
        </div>


        <div class="row justify-content-center">
            {% if get_premium %}
                <a href="{% url 'memberships:join' %}">Get Premium</a>
            {% else %}
                <p>Welcome Back  {{ user.first_name }}. You are a Premium User.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}