
{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <h1>All blogs</h1>
        <div class="row justify-content-center align-content-center">
        {% for blog in blogs %}
            <div class="col p-2 d-flex justify-content-center">
            {% if blog.status == 1 or user.is_superuser %}
                    <a href="{% url 'blog:blog_detail' blog.slug%}">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="{{ blog.main_image.url }}" alt="Card image cap" width="300" height="300">
                      <div class="card-body">
                          <h3>{{ blog.title }}</h3>
                        <p class="card-text">{{ blog.content|safe|truncatechars:200 }}</p>
                      </div>
                    </div>
                    </a>
           {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}


