{% extends 'base.html' %}

{% block content %}

    <style>

    .newest_blog {
        position: relative;
        margin: auto;
        width: 100%;
    }

    .newest_blog img {
        width: 100%
    }

    .newest_blog_shadow {
        padding: 20px;
        position: absolute;
        top: 50%;
        height: 50%;
        width: 100%;
        background-color: rgba(37,37,37,0.61);

    }

    .newest_blog_text {
        color: white;
    }

    @media screen and (max-width: 768px){
        .newest_blog_text {
            font-size: 0.9em;
        }

        .newest_blog_shadow {
            top: 0;
            height: 100%;
        }
    }

</style>

    <div class="container mb-5">
        <div class="row justify-content-center my-5">
            <div class="newest_blog">
                <img class="img-fluid" src="{{ blog.main_image.url }}" alt="{{ blog.title }}.img">
                <div class="newest_blog_shadow">
                    <div class="newest_blog_text">
                        <h4>{{ blog.title }}</h4>
                        <b class="date">{{ blog.created_on }}</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <small>Posted: {{ blog.created_on }}</small>
        </div>

        {{ blog.content|safe }}
    </div>

{% endblock %}


