<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Reading Teacher Online</title>

    <style>

        body{
          margin: 0;
          font-family: 'Open Sans', sans-serif;
        }

        #content-wrap {
            padding-bottom: 50px;
        }

        #page-container {
            position: relative;
            min-height: 100vh;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-image: linear-gradient(to left, #00a387, #397ca4, #004286);
        }

        .nav-shadow {
            box-shadow: 0 4px 14px rgba(71, 76, 85, .30);
        }

        .course-nav-headers {
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;

        }

        .preload {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: 1;
            transition: opacity 0.5s ease;
        }

        .logo {
            position: absolute;
            width: 150px;
        }


        .loading {
            height: 50px;
            position: absolute;
            animation: spin-loading 1s linear infinite;

        }

        .preload-finish {
            opacity: 0;
            pointer-events: none;
        }

        @keyframes spin-loading {
            from{
                transform: translateY(250%) rotate(0deg);
            }
            to{
                transform: translateY(250%) rotate(360deg);
            }
        }

        .course-card {
            border-top: none;
            border-radius: 0;
        }

        .all-courses-card {
            border-radius: 0.25rem 0.25rem 0 0;
        }

    </style>

</head>
<body>
<div id="page-container">
    <div id="content-wrap">

    {% if request.path == '/' %}
        <div class="preload">
            <img class="logo" src="{% static 'courses_site/READING_TEACHER_LOGO.jpg' %}" alt="logo">
            <img class="loading" src="{% static 'courses_site/spinning.svg' %}" alt="loading">
        </div>
    {% endif %}


    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-shadow">
        <div class="d-none d-lg-block">
            <a class="navbar-brand mx-1" href="{% url 'home' %}">
                <img src="{% static 'courses_site/READING_TEACHER_LOGO_LOGO.png' %}" alt="logo" width="50" height="45">
                <img class="img-responsive mx-2" src="{% static 'courses_site/heading_readingTeacher.png' %}" alt="logo" height="22">
                <img class="img-responsive" src="{% static 'courses_site/heading_online.png' %}" alt="logo" height="25">
            </a>
        </div>

        <div class="d-none d-sm-block d-lg-none w-100">
            <div class="row justify-content-between">
                <div class="col-auto d-flex justify-content-start pr-0">
                    <a class="navbar-brand mx-1" href="{% url 'home' %}">
                        <img src="{% static 'courses_site/READING_TEACHER_LOGO_LOGO.png' %}" alt="logo" width="50">
                    </a>
                </div>
                <div class="col-auto d-flex justify-content-center p-0">
                    <a class="navbar-brand mx-1" href="{% url 'home' %}">
                        <img class="img-responsive mx-2" src="{% static 'courses_site/heading_readingTeacher.png' %}" alt="logo" height="22">
                        <img class="img-responsive" src="{% static 'courses_site/heading_online.png' %}" alt="logo" height="25">
                    </a>
                </div>
                <div class="col-auto d-flex justify-content-end p-0">
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="d-sm-none w-100">
            <div class="row justify-content-between">
                <div class="col-auto d-flex justify-content-start p-0">
                    <a class="navbar-brand mx-1" href="{% url 'home' %}">
                        <img src="{% static 'courses_site/READING_TEACHER_LOGO_LOGO.png' %}" alt="logo" width="50">
                    </a>
                </div>
                <div class="col-auto d-flex justify-content-center p-0">
                    <a class="navbar-brand mx-1" href="{% url 'home' %}">
                        <div class="row justify-content-center">
                            <img class="img-responsive mx-2" src="{% static 'courses_site/heading_readingTeacher.png' %}" alt="logo" height="22">
                        </div>
                        <div class="row justify-content-center">
                            <img class="img-responsive" src="{% static 'courses_site/heading_online.png' %}" alt="logo" height="25">
                        </div>
                    </a>
                </div>
                <div class="col-auto  d-flex justify-content-end p-0">
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>



        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item m-1">
                    <!-- full screen menu (hidden on screens smaller than lg) -->
                    <div class="dropdown d-none d-lg-block">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{% url 'all_courses' %}">All Courses</a>
                          <div class="dropdown-divider"></div>
                          {% for course in nav_courses %}
                              {% if course.status == 1 or user.is_superuser %}
                                  <a class="dropdown-item" href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                              {% endif %}
                          {% endfor %}
                      </div>
                    </div>
                    <!-- collapsed nav menu (hidden on screens larger than md)-->
                    <div class="d-lg-none">
                            <div id="accordion">
                                {% if user.is_authenticated %}
                                    <div class="card m-1">
                                       <div class="card-body" role="tab">
                                           <div class="row my-1">
                                               <div class="col-6 d-flex align-items-center justify-content-center">
                                                   <p class="h5 text-center">Welcome back <b>{{ user.first_name }}</b></p>
                                               </div>
                                               <div class="col-6 d-flex align-items-center justify-content-center">
                                                   <form action="{% url 'logoutuser' %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-primary">Logout</button>
                                                    </form>
                                               </div>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="card m-1">
                                        <a href="{% url 'memberships:settings' %}">
                                            <p class="card-header" role="tab">
                                                    Account Settings
                                            </p>
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="card m-1">
                                        <a href="{% url 'loginuser' %}">
                                            <p class="card-header" role="tab">
                                                    Login
                                            </p>
                                        </a>
                                    </div>
                                    <div class="card m-1">
                                        <a href="{% url 'signupuser' %}">
                                            <p class="card-header" role="tab">
                                                    Sign Up
                                            </p>
                                        </a>
                                    </div>
                                    {% endif %}

                                <div class="card m-1">
                                    <a href="{% url 'blog:allBlogs' %}">
                                    <p class="card-header" role="tab">
                                        <b>
                                            Blog
                                        </b>
                                    </p>
                                    </a>
                                </div>

                                <div class="card mt-1 mx-1 all-courses-card">
                                    <a href="{% url 'all_courses' %}">
                                    <p class="card-header" role="tab">
                                        <b>
                                            All Courses
                                        </b>
                                    </p>
                                    </a>
                                </div>


                                {% for course in nav_courses %}
                                    {% if course.status == 1 or user.is_superuser %}
                                        <div class="card mx-1 course-card">
                                        <a href="{% url 'course_detail' course.slug %}">
                                           <p class="card-header course-nav-headers" role="tab">

                                                    {{ course.title }}

                                            </p>
                                        </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                </li>
                <li class="nav-item d-none m-1 d-md-block">
                   <a href="{% url 'blog:allBlogs'%}">
                    <button type="button" class="btn btn-primary">Blog</button>
                   </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse d-none d-lg-block" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated or user.is_superuser %}
                    <li class="nav-item">
                        <div class="d-none d-lg-block">
                            <p class="nav navbar-text">Welcome back <b>{{ user.first_name }}.</b></p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'memberships:settings' %}" method="GET">
                            <button class="btn btn-link" type="submit">Account Settings</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logoutuser' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link">Logout</button>
                        </form>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <form action="{% url 'loginuser' %}" method="GET">
                                <button class="btn btn-link" type="submit">Login</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'signupuser' %}" method="GET">
                                <button class="btn btn-primary" type="submit">Sign Up</button>
                            </form>
                        </li>
                    {% endif %}
        </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    </div>

    <footer id="footer">
        <div class="container">
            <a class="text-light" href="/admin/">Admin</a>
        </div>
    </footer>



    {% if request.path == '/' %}
        <script>
            window.addEventListener('load', () => {
                const preload = document.querySelector('.preload');
                preload.classList.add('preload-finish');

            })
        </script>
    {% endif %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

</div>


</body>
</html>