{% extends 'base.html' %}
{% block content %}
    <style>

    .password-rule-valid {
        color: #28a745;
    }

    </style>
    <div class="row justify-content-center">
        <div class="col-8 col-md-4">
            <h3 class="my-5 text-center border-bottom">Change Password</h3>
            <form method="POST">
                {% csrf_token %}
                <label for="id_new_password1">Old Password:</label>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_old_password" class="form-control">
                <label for="id_new_password1">New Password:</label>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control">
                <label for="id_new_password2">Re-enter new password:</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
                <div class='invalid-feedback'>
                    <p id="password_msg"></p>
                </div>
                <div class="row justify-content-center">
                    <small class="form-text text-muted">
                        Your password must contain:
                        <ul>
                            <li id='password-length'>At least 8 characters</li>
                            <li id='password-lowercase'>At least one lowercase letter.</li>
                            <li id='password-uppercase'>At least one uppercase letter</li>
                            <li id='password-digits'>At least one digit</li>
                            <li id='password-special'>At least one special character</li>
                        </ul>
                    </small>
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div class="row justify-content-center">
                    <button class="btn btn-primary" type="submit" onclick="return validation(Event)">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>


    <script>
    const password1 = document.getElementById('id_new_password1');
	let password_valid = false;
	let digits = false;
	let lower = false;
	let upper = false;
	let special = false;
	let length = false;

	function password_validator(){
	    if (password1.value.match(/[0-9]/g)){
			document.getElementById('password-digits').classList.add('password-rule-valid');
			digits = true;
		}else{
			document.getElementById('password-digits').classList.remove('password-rule-valid');
			digits = false;
		}

		if (password1.value.match(/[a-z]/g)){
			document.getElementById('password-lowercase').classList.add('password-rule-valid');
			lower = true;
		} else {
			document.getElementById('password-lowercase').classList.remove('password-rule-valid');
			lower = false;
		}

		if (password1.value.match(/[A-Z]/g)){
			document.getElementById('password-uppercase').classList.add('password-rule-valid');
			upper = true;
		} else {
			document.getElementById('password-uppercase').classList.remove('password-rule-valid');
			upper = false;
		}

		if (password1.value.match(/[!@#$%^&*()_+\-={}|[\]|\\:";'<>?,./]/g)){
			document.getElementById('password-special').classList.add('password-rule-valid');
			special = true;
		} else {
			document.getElementById('password-special').classList.remove('password-rule-valid');
			special = false;
		}

		if (password1.value.length >= 8){
			document.getElementById('password-length').classList.add('password-rule-valid');
			length = true;
		} else {
			document.getElementById('password-length').classList.remove('password-rule-valid');
			length = false;
		}

		password_valid = digits && lower && upper && special && length;
		if (password_valid){
		    password1.classList.remove('is-invalid');
		    password1.classList.add('is-valid');
        } else {
		    password1.classList.remove('is-valid');
        }
		return password_valid;
    }

	password1.addEventListener('input', password_validator)

    function validation() {
        let valid = true;
        const password1 = document.getElementById('id_new_password1');
        const password2 = document.getElementById('id_new_password2');

        if (password1.value.length === 0) {
            valid = false;
            password1.classList.add('is-invalid');
            document.getElementById("password_msg").innerHTML = "Enter your password";
        } else if (password1.value !== password2.value) {
            valid = false;
            password1.classList.add('is-invalid');
            password2.classList.add('is-invalid');
            document.getElementById("password_msg").innerHTML = "Passwords do not match";
        } else {
            if (password_validator()) {
                password1.classList.remove('is-invalid');
                password1.classList.add('is-valid');
                password2.classList.remove('is-invalid');
                password2.classList.add('is-valid');
                document.getElementById("password_msg").innerHTML = "";
            } else {
                valid = false;
                password1.classList.add('is-invalid');
                password2.classList.add('is-invalid');
                document.getElementById("password_msg").innerHTML = "Password not valid";
            }

        }
        return valid;
    }
    </script>
{% endblock %}