{% extends "base.html" %}

{% block content %}

	<div class="row justify-content-center pt-5">
		<div class="col-3">
			<div class="row justify-content-center my-2">
				<p class="h1">Login</p>
            </div>
            {% if messages %}
                {% for message in messages  %}
                    <div class="row justify-content-center my-2">
                        <p class="alert-danger text-center">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}

				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <div class="row justify-content-center my-2 align-items-baseline">
                        <input type="text" name="email" autocomplete="current-email" required id="email" placeholder="Email">
                    </div>

                    <div class="row justify-content-center my-2 align-items-baseline">
                        <input type="password" name="password" autocomplete="current-password" required id="password" placeholder="Password">
                    </div>
                    <div class="row justify-content-center my-2">
                        <button class="btn btn-primary" type="submit">
                            Login
                        </button>
                    </div>
				</form>
                <div class="row justify-content-center my-2">
                    {% if request.GET.next %}
                        <small>Don't have an account?<a href="{% url 'signupuser' %}?next={{ request.GET.next }}"> Sign up here</a></small>
                    {% else %}
                        <small>Don't have an account?<a href="{% url 'signupuser' %}"> Sign up here</a></small>
                    {% endif %}
                </div>
                <div class="row justify-content-center">
                    <small>Forgot password?<a href="{% url 'reset_password' %}"> Reset Password</a></small>
                </div>

			</div>
		</div>





{% endblock %}