{% extends 'base.html' %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6 col-xs-12 mx-4">
            <h2 class="my-5 border-bottom text-center">Tell us why you are leaving.</h2>
            <form class="" action="{% url 'memberships:cancel_subscription' %}" method="POST">
                {% csrf_token %}
                    <div>
                    <h5 class="my-4 font-weight-bold">Overall, how satisfied were you with Reading Teacher Online?</h5>
                        <div class='text-danger'>
                            <div class="row">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-exclamation-circle mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                <p id="satisfaction-message">Please choose a satisfaction level</p>
                            </div>
                        </div>
                        {% for satisfaction_choice in satisfaction_choices %}
                            <div class="form-check ml-5">
                                  <input class="form-check-input"
                                         type="radio"
                                         name="satisfaction"
                                         id="satisfaction{{ forloop.counter0 }}"
                                         value="{{ forloop.counter0 }}">
                                  <label class="form-check-label" for="satisfaction{{ forloop.counter0 }}">
                                    {{ satisfaction_choice }}
                                  </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="my-3 border-top">
                    <h5 class="my-4 font-weight-bold">What was the primary reason for cancelling your membership?</h5>
                        <div class='text-danger'>
                            <div class="row">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-exclamation-circle mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                <p id="satisfaction-message">Please choose a reason</p>
                            </div>
                        {% for reason in reasons %}
                            <div class="form-check ml-5">
                                  <input class="form-check-input"
                                         type="radio"
                                         name="reason"
                                         id="reason{{ forloop.counter0 }}"
                                         value="{{ forloop.counter0 }}">
                                  <label class="form-check-label" for="reason{{ forloop.counter0 }}">
                                    {{ reason }}
                                  </label>
                            </div>
                        {% endfor %}
                    </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="other_reason">If other, please specify:</label>
                    <textarea class="form-control" id="other_reason" rows="2"></textarea>
                  </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="suggestion">What could we do to improve Reading Teacher Online? </label>
                    <textarea class="form-control" id="suggestion" rows="4"></textarea>
                  </div>
                <button type="submit" class="btn btn-danger btn-block my-5" id="cancel-button" onclick="return validation(Event)">Cancel Membership</button>
            </form>
        </div>
    </div>
    <script>


    function validation(){

        let valid = true;
        let satisfactions = [];
        for (let i=0; i<5; i++){
            let satisfaction = document.getElementById('satisfaction' + i);
            satisfactions.push(satisfaction);
        }

        let reasons = [];
        for (let i=0; i<7; i++){
            let reason = document.getElementById('reason' + i);
            reasons.push(reason);
        }

        if (reasons.length === 0){
            reason_valid = false

        }



        return valid;
    }






    </script>
{% endblock %}