{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-xs-12 mx-4">
            <h2 class="my-5 border-bottom text-center">Tell us why you are leaving.</h2>
            <form action="{% url 'memberships:cancel_subscription' %}" method="POST" id="survey">
                {% csrf_token %}
                    <div>
                    <h5 class="my-4 font-weight-bold">Overall, how satisfied were you with Reading Teacher Online?</h5>
                        <div id="satisfaction-message" class='text-danger' style="display: none">
                            <div class="row">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-exclamation-circle mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                <p>Please choose a satisfaction level</p>
                            </div>
                        </div>
                        {% for satisfaction_choice in satisfaction_choices %}
                            <div class="form-check ml-5">
                                  <input class="form-check-input"
                                         type="radio"
                                         name="satisfaction"
                                         id="satisfaction{{ forloop.counter0 }}"
                                         value="{{ forloop.counter0 }}">
                                  <label class="form-check-label" for="satisfaction{{ forloop.counter0 }}">
                                    {{ satisfaction_choice }}
                                  </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="my-3 border-top">
                    <h5 class="my-4 font-weight-bold">What was the primary reason for cancelling your membership?</h5>
                        <div id="reason-message" class='text-danger' style="display: none">
                            <div class="row">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-exclamation-circle mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                <p>Please choose a reason</p>
                            </div>
                        </div>
                        {% for reason in reasons %}
                            <div class="form-check ml-5">
                                  <input class="form-check-input"
                                         type="radio"
                                         name="reason"
                                         id="reason{{ forloop.counter0 }}"
                                         value="{{ forloop.counter0 }}">
                                  <label class="form-check-label" for="reason{{ forloop.counter0 }}">
                                    {{ reason }}
                                  </label>
                            </div>
                        {% endfor %}
                    </div>
                  <div class="form-group">
                      <svg  id="other-reason-svg" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-exclamation-circle mr-3 text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="display: none">
                          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg>
                        <label id="other-reason-label" class="font-weight-bold" for="other_reason">If other, please specify:</label>
                        <textarea class="form-control" id="other_reason" name="other_reason" rows="2"></textarea>
                  </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="suggestion">What could we do to improve Reading Teacher Online?</label>
                    <textarea class="form-control" id="suggestion" name="suggestion" rows="4"></textarea>
                  </div>
                <button type="submit" class="btn btn-danger btn-block my-5" id="cancel-button" onclick="return validation(Event)">Cancel Membership</button>
            </form>
        </div>
    </div>
    <script>


    function validation() {

        let valid = true;
        let reason_message = document.getElementById('reason-message');
        let satisfaction_message = document.getElementById('satisfaction-message');


        try {
            let reason = document.querySelector('input[name="reason"]:checked').value;
            reason_message.style.display = 'none';
            console.log(typeof(reason));
            if (reason === '7') {
                let other = document.getElementById('other_reason');
                console.log(other.value.length);
                if (other.value.length === 0) {
                    let other_reason_svg = document.getElementById('other-reason-svg');
                    other_reason_svg.style.display = 'block';
                    other_reason_svg.classList.add('d-inline')
                    let other_reason_label = document.getElementById('other-reason-label');
                    other_reason_label.classList.add('text-danger');
                    valid = false;
                }
            } else {
                let other_reason_svg = document.getElementById('other-reason-svg');
                other_reason_svg.style.display = 'none';
                other_reason_svg.classList.remove('d-inline')
                let other_reason_label = document.getElementById('other-reason-label');
                other_reason_label.classList.remove('text-danger');
            }
        }
        catch (err){
                reason_message.style.display = 'block';
                valid = false;
            }

        try {
            let satisfaction = document.querySelector('input[name="satisfaction"]:checked').value;
            satisfaction_message.style.display = 'none';
        }
        catch (err){
                satisfaction_message.style.display = 'block';
                valid = false;
            }

        if (!valid){
            window.scrollTo(0,0);
        }

        return valid;

    }






    </script>
{% endblock %}